
body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #e0e8ff; 
  background-image: url('./assets/pattern-background-desktop.svg');
  background-repeat: repeat-x;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}